

header {
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    height: max-content;
    /* min-width: 100%; */
    /* min-height: 100%; */
    width: auto;
    height: auto;
    /* z-index: 10; */
    /* -ms-transform: translateX(-50%) translateY(-50%); */
    /* -moz-transform: translateX(-50%) translateY(-50%); */
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }
  
  /* Media Query for devices withi coarse pointers and no hover functionality */
  
  /* This will use a fallback image instead of a video for devices that commonly do not support the HTML5 video element */
  
  @media (pointer: coarse) and (hover: none) {
    header {
      background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
  
    header video {
      display: none;
    }
  }

  .alpha {
    color: #FFFFFF;
    font-size: 60px;
    font-family: 'Almarai',sans-serif;
    line-height: 50px;
    /* margin: 4px; */
  
    transition: all;
}




/* Layout */
.plants_outline{
  
  padding: 5%;
  margin-top: -40px;
  
}
.top_bar{
    
  /* border-style:groove;
  border-width: 2px;
  border-color: rgb(0, 0, 0); */
  height: 270px;
  padding: 0%;
}
.top_bar_overlay{
 position: relative;
  height: 200px;
  width: 150px;
  margin-left: 70%;
  margin-bottom: -150px;
}
.body_content{
/*   
  border-style:groove;
  border-width: 2px;
  border-color: rgb(0, 0, 0); */
  height: 135px;
  padding: 0%;
 
}

.threeXthree{
    
  /* border-style:groove;
  border-width: 2px;
  border-color: rgb(0, 0, 0); */
  height: 90px;
  padding: 0%
}
img {
  max-width:100%;
  max-height: 100%;
  min-height: 100%;
  min-width: 100%;
}
.bgfixed{
  min-height: 500px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Layout finished */